themes {
    coolnight {
        fg "#CBE0F0"
        bg "#011423"
        black "#214969"
        red "#E52E2E"
        green "#CCFF00"
        yellow "#FFE073"
        blue "#0FC5ED"
        magenta "#a277ff"
        cyan "#24EAF7"
        white "#CBE0F0"
        orange "#FF9E64"
    }
}
